.navigation-bar {
    position: absolute;
    width: 1200px;  
    min-height: 40px; 
    line-height: 80px;
    top: 20px;
    left: 120px;
}
.mainlogo {
    display: inline-block; 
    vertical-align: top;
    margin-right: 20px;
    margin-top: 15px;
}
.navigation-bar > a {
    color: #353732;
    display: inline-block;
    vertical-align: top;
    margin-right: 20px;
    height: 80px;        
    font-family: Georgia,  Times, serif;
    font-style: normal;
    float: right;
    text-decoration: none;
}
h1 {
    position: absolute;
    width: 800px;  
    min-height: 148px; 
    margin: 180px; 320px;
}
text {
    font-family: 'Palatino Linotype', 'Roboto', serif;
}
logo {
height: 48px;
left: 2%;
right: 86.25%;
top: calc(50% - 48px/2 - 50px);
}
