.navigation-bar {
    width: 1440px;  
    min-height: 80px;
    display: block;
}

.mainlogo {
    height: 40px;
    width: 78px;
    margin: 20px 1226px 20px 136px;
}

a.menu {
    color: #353732;
    position: relative;
    height: 40px;
    width: 220px;
    left: 80.28%;
    right: 1.33%;
    font-family: Georgia,  Times, serif;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
    display: inline-block;
}

h1 {
    position: absolute;
    height: 148px;
    left: 22.22%;
    right: 22.22%;
    top: 180px;
}

.text {
    font-family: 'Palatino Linotype', 'Roboto', serif;
    font-weight: 400;
    font-style: normal;
    font-size: 36px;
    color: #353732;
}

.logo {
    height: 48px;
    left: 2%;
    right: 86.25%;
    top: calc(50% - 48px/2 - 50px);
}

.container {
    width: 1440px;  
    min-height: 1392px;
}
