.navigation-bar {
    position: absolute;
    width: 1440px;  
    height: 80px;
}

.mainlogo {
    height: 40px;
    width: 78px;
    margin: 136px;
    margin-right: 1226px;
    margin-top: 20px;
    margin-bottom: 20px;
}

a.menu {
    color: #353732;
    position: relative;
    height: 40px;
    width: 220px;
    left: 80.28%;
    right: 1.33%;
    top: 0px;
    font-family: Georgia,  Times, serif;
    font-style: normal;
    font-size: 15px;
    text-decoration: none;
}
h1 {
    position: absolute;
    margin: 180px 320px;
    width: 800px;  
    min-height: 148px; 
}
text {
    font-family: 'Palatino Linotype', 'Roboto', serif;
    font-weight: lighter;
}
logo {
height: 48px;
left: 2%;
right: 86.25%;
top: calc(50% - 48px/2 - 50px);
}
